body,html{
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}


aside{
  background-color: snow;
  height: 100%;

  h1{
    text-align: center;
  }

  h2{
    font-size: 18px;
    text-align: center;
  }

  p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  ul{
    list-style: none;
    margin:0px;
    margin-bottom: 30px;

    padding: 0px;
    li{
      margin-bottom: 10px;
      button{
        height: 40px;
        width: 100%;
      }
    }

  }
}


.row{
  height: 100%;
}

.container-fluid{
  height: 100%;
}

#map-canvas{

  /*height: calc(100% - 1px);*/

  height: 100%;
}