body,html{
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}


aside{
  background-color: snow;
  height: 100%;

  h1{
    text-align: center;
    font-size: 16px;
  }

  h2{
    font-size: 14px;
    text-align: center;

    font-weight: bold;
  }

  p{
    text-align: center;
    font-size: 12px;
  }

  ul{
    list-style: none;
    margin:0px;
    margin-bottom: 30px;

    padding: 0px;
    li{
      margin-bottom: 10px;
      button{
        height: 30px;
        width: 100%;
      }
    }

  }
}


.row{
  height: 100%;
}

.container-fluid{
  height: 100%;
}

#map-canvas{

  /*height: calc(100% - 1px);*/
border-left: 1px solid black;
  border-right:  1px solid black;
  height: calc(100% - 35px);
}

#infoPanel{
  text-align: center;

  #address{
    margin-bottom: 15px;
  }
}

.controls{
  width: 25%;

  margin-top:6px;
  /*height: 25px;*/
}

.navbar{
  margin-bottom: 0px;
  background-color: #303030;
  min-height: 35px;


  p{
    display: inline;
    padding-top: 10px;
    font-size: 16px;
    color:white;
  }

  .homeNav{
    span{margin-right: 5px; margin-top: 5px;};
    color:white;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px;
  }



}



.toHideOrNotToHide{
  display: none;
}



#login, #register, #forgot{
  float:right;
  margin-right: 30px;
  margin-top: 3px;

  p{
    margin-top: 5px;

  }
color:white;
  button, input[type=submit],input[type=text],input[type=password],input[type=email]{
    color:black;
  }

  span{
    margin-right: 3px;
  }



}


#chat{
  form { padding: 3px; position: fixed; bottom: 15px;}
  form input { border: 1px solid black; padding: 2px; width: 90%; margin-right: .5%; }
  form button { border: none; padding: 2px; width:90%; margin-right:0.5%;}
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
  height: calc(100% - 35px);
  overflow-y:auto
}


.btn0{color:white;background-color: #993399}
.btn1{color:white;background-color: #6666FF}
.btn2{color:white;background-color: #f0ad4e}
.btn3{color:white;background-color: darkorange}
.btn4{color:white;background-color: orangered}
.btn5{color:white;background-color: #c9302c}