body, html {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden; }

aside {
  background-color: snow;
  height: 100%; }
  aside h1 {
    text-align: center;
    font-size: 16px; }
  aside h2 {
    font-size: 14px;
    text-align: center;
    font-weight: bold; }
  aside p {
    text-align: center;
    font-size: 12px; }
  aside ul {
    list-style: none;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px; }
    aside ul li {
      margin-bottom: 10px; }
      aside ul li button {
        height: 30px;
        width: 100%; }

.row {
  height: 100%; }

.container-fluid {
  height: 100%; }

#map-canvas {
  /*height: calc(100% - 1px);*/
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: calc(100vh - 35px);
  position: fixed;
  bottom: 0px; }

#infoPanel {
  text-align: center; }
  #infoPanel #address {
    margin-bottom: 15px; }

.controls {
  width: 25%;
  margin-top: 6px;
  /*height: 25px;*/ }

.navbar {
  margin-bottom: 0px;
  background-color: #303030;
  min-height: 35px; }
  .navbar p {
    display: inline;
    padding-top: 10px;
    font-size: 16px;
    color: white; }
  .navbar .homeNav {
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px; }
    .navbar .homeNav span {
      margin-right: 5px;
      margin-top: 5px; }

.toHideOrNotToHide {
  display: none; }

#login, #register, #forgot {
  float: right;
  margin-right: 30px;
  margin-top: 3px;
  color: white; }
  #login p, #register p, #forgot p {
    margin-top: 5px; }
  #login button, #login input[type=submit], #login input[type=text], #login input[type=password], #login input[type=email], #register button, #register input[type=submit], #register input[type=text], #register input[type=password], #register input[type=email], #forgot button, #forgot input[type=submit], #forgot input[type=text], #forgot input[type=password], #forgot input[type=email] {
    color: black; }
  #login span, #register span, #forgot span {
    margin-right: 3px; }

#chat {
  padding: 0px;
  height: 100vh;
  overflow-y: scroll; }
  #chat form {
    padding: 3px;
    position: fixed;
    bottom: 0px;
    background-color: #303030;
    padding: 10px;
    width: inherit;
    height: 80px; }
  #chat form input {
    border: 1px solid black;
    padding: 2px;
    width: 100%;
    margin-bottom: 5px; }
  #chat form button {
    border: none;
    padding: 2px;
    width: 100%; }
  #chat #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 80px;
    top: 35px;
    width: inherit;
    overflow-y: auto; }
  #chat #messages li {
    padding: 5px 10px; }
  #chat #messages li:nth-child(odd) {
    background: #eee; }

.btn0 {
  color: white;
  background-color: #993399; }

.btn1 {
  color: white;
  background-color: #6666FF; }

.btn2 {
  color: white;
  background-color: #f0ad4e; }

.btn3 {
  color: white;
  background-color: darkorange; }

.btn4 {
  color: white;
  background-color: orangered; }

.btn5 {
  color: white;
  background-color: #c9302c; }

.nopop {
  display: none; }

.popup {
  display: block;
  position: fixed;
  width: 30%;
  top: 10%;
  left: 35%;
  z-index: 5;
  padding: 10px;
  background-color: purple;
  text-align: center;
  color: white; }

/*# sourceMappingURL=style.css.map */
