body,html{
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}


aside{
  background-color: snow;
  height: 100%;

  h1{
    text-align: center;
    font-size: 16px;
  }

  h2{
    font-size: 14px;
    text-align: center;

    font-weight: bold;
  }

  p{
    text-align: center;
    font-size: 12px;
  }

  ul{
    list-style: none;
    margin:0px;
    margin-bottom: 30px;

    padding: 0px;
    li{
      margin-bottom: 10px;
      button{
        height: 30px;
        width: 100%;
      }
    }

  }
}


.row{
  height: 100%;
}

.container-fluid{
  height: 100%;
}

#map-canvas{

  /*height: calc(100% - 1px);*/

  height: calc(100% - 35px);
}

#infoPanel{
  text-align: center;

  #address{
    margin-bottom: 15px;
  }
}

.controls{
  width: 25%;

  margin-top:6px;
  /*height: 25px;*/
}

.navbar{
  margin-bottom: 0px;
  background-color: #303030;
  min-height: 35px;
}



#login{
  float:right;
  margin-right: 30px;
  margin-top: 3px;

}

#fbLogin{

  padding: 5px;
  color:#FFF;
  background-color:#3B5998;
  margin:10px;
}